<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Title</title>
</head>
<body>
    <div class="grid-container">
        {% for image in images %}
            <div class="grid-item">
                <a href="/annotate_image/{{paging_start_index}}/{{image.id}}">
                    <img style="border: 2px solid;border-color:{{image.color}}"
                         src="{{image.url}}"
                         width="{{image.width}}" height="{{image.height}}"/>
                </a>
            </div>
        {% endfor %}
    </div>
    <div>
        <ul class="pagination">
        {% if paging_start_index > 0: %}
            <li class="page-item"><a class="page-link" href="/show/{{previous_page_number}}">Previous</a></li>
        {% endif %}
        {% for page_number in range(paging_start_index, paging_end_index) %}
            <li class="page-item"><a class="page-link" href="/show/{{page_number}}">{{page_number}}</a></li>
        {% endfor %}
        {% if paging_end_index < number_of_pages: %}
            <li class="page-item"><a class="page-link" href="/show/{{next_page_number}}">Next</a></li>
        {% endif %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="javascript">
        function clickImage()
        {
            alert("Hello");
        }
        function imageClicked(page_index, image_index)
        {
            alert("Image ${image_index} clicked at page: ${page_index}");
        }
    </script>
</body>
</html>